.container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 750px;
}

.secondContainer {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.title {
    color: black;
    margin: 20px;
    
}

.myName {
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #161516;
    font-weight: bold;
    text-shadow: 1px 2px 2px #686868;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    animation: typing 3s steps(24), blink .5s infinite step-end alternate;
    overflow: hidden;
    user-select: none;

}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.fullstack {
    font-size: 80px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(156, 192, 209);
    font-weight: bold;
    text-shadow: 1px 2px 2px #161516;
    user-select: none;

}

.img {
    margin-bottom: 120px;
    animation: animation infinite ease-in-out 2800ms;
    
}

@keyframes animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 640px){
    .container {
        width: 100%;
        display: flex;
        justify-content:flex-start;
        
    }

    .secondContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 300px;
    }

    .myName{
        font-size: 18px;
        margin: 5px auto;
    }

    .fullstack{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px;
    }
 }