.container {
    display: flex;
    justify-content: center;
    height: 550px;
    background-color: #161516;
}

.secondContainer
{
    width: 85%;
}

.title {
    margin: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 390px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 6px;
}

.img {
    width: 45px;
    margin-right: 10px;
}

.skills{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    color: black;
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.skills:hover {
    background-color: rgb(156, 192, 209);
    cursor: pointer;
}

@media (max-width: 640px){
    .container {
        
        display: flex;
        justify-content:flex-start;
        height: 500px;
    }

    .secondContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }

    .skillsContainer{
        margin: 0;
        width: 100%;
    }

    .skills{
        width: 40%;
    }
 }